{% extends 'base.html' %}
{% block title %}
     Delete a Blog post  {% endblock %}

{% block content %}

<h1><div class="p-3 mb-2 bg-secondary text-white">Delete blog Post..</divs></h1><br/>
<h3>Delete: {{post.title}}</h3>
<br/>
<div class="form-group">
<form method="POST">
	{% csrf_token%}
	{{ form.as_p}}<p>
		<strong>Are you sure??</strong><br/>
	<button class="btn btn-danger">Delete Post!</button>>

</div>
<style>
body  {
  background-image: url("https://images.homedepot-static.com/productImages/53b84a3e-7e5b-4d11-9824-2c79922caf7d/svn/graham-brown-wallpaper-rolls-51-058-64_1000.jpg");
  background-color: #cccccc;
}
</style>

{% endblock %}